<h2>Validaciones reactivas</h2>
<hr>

<div class="row">
    <div class="col">
        <form autocomplete="off">
            <!-- Nombre -->
            <div class="row mb-3">
                <label class="col-sm-3 col-form-label">Nombre</label>
                <div class="col-sm-9">
                    <input
                        type="text"
                        class="form-control"
                        placeholder="Nombre de usuario"
                    >
                    <span class="form-text text-danger">
                        Debe ser en formato nombre y apellido
                    </span>
                </div>
            </div>

            <!-- Email -->
            <div class="row mb-3">
                <label class="col-sm-3 col-form-label">Email</label>
                <div class="col-sm-9">
                    <input
                        type="email"
                        class="form-control"
                        placeholder="Email de usuario"
                    >
                </div>
            </div>
            
            <!-- Username -->
            <div class="row mb-3">
                <label class="col-sm-3 col-form-label">Username</label>
                <div class="col-sm-9">
                    <input
                        type="text"
                        class="form-control"
                        placeholder="Username"
                    >
                </div>
            </div>
            
            <!-- Password -->
            <div class="row mb-3">
                <label class="col-sm-3 col-form-label">Password</label>
                <div class="col-sm-9">
                    <input
                        type="password"
                        class="form-control"
                        placeholder="Password"
                    >
                </div>
            </div>
            
            <!-- Confirmar password -->
            <div class="row mb-3">
                <label class="col-sm-3 col-form-label">Confirmar password</label>
                <div class="col-sm-9">
                    <input
                        type="password"
                        class="form-control"
                        placeholder="Repita el password"
                    >
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <button class="btn btn-primary float-end">Crear</button>
                </div>
            </div>
        </form>
    </div>
</div>